.DS_Store
__pycache__/
classify_image_graph_def.pb
Pipfile
/notebooks/sandbox.ipynb
*.egg-info
/data/**
!/data/*/
!/data/*/.gitkeep
*pyc
.env
src.egg-info
src.egg-info\*
launch.json
mlmi-env/*
*sandbox.py
/outputs/*
/model/*
/wandb/*
/model2/*
