autopep8==1.6.0
-e .
jupyter==1.0.0
lmdb==1.3.0
mpi4py==3.1.3
opencv-contrib-python==4.5.5.62
albumentations==1.2.0
pip-chill==1.0.1
pipreqs==0.4.11
seaborn==0.11.2
tensorflow==2.9.1
torchaudio==0.11.0
torchvision==0.12.0
click==8.0.4
wandb==0.12.19
tensorflow-gpu>=2.0
scipy
requests
tqdm
